
@media only screen and (max-width: 600px) {
  .form-page {
    width: 100%;
    padding: 20px;
  }

  .form-page h1 {
    font-size: 36px;
  }

  .form-page .input,
  .form-page select {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-page .btn-addcard {
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 20px;
    width: 100%;
    background-color: cadetblue;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}


@media only screen and (min-width: 601px) {
  .form-page {
    width: 414px;
    padding: 50px;
  }

  .form-page h1 {
    font-size: 55px;
  }

  .form-page .input,
  .form-page select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-page .btn-addcard {
    font-size: 20px;
    padding: 15px 32px;
    margin-top: 3rem;
    width: 100%;
    background-color: cadetblue;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .form-page .btn-addcard:hover{
    background-color:rgb(101, 117, 117) ;
  }
}
