
@media only screen and (max-width: 600px) {
  .form-page {
    width: 100%;
    padding: 20px;
    border: 1px solid;
    background-color: #949ee5;
  }

  .form-page h1 {
    font-size: 36px;
  }

  .form-page .input,
  .form-page select {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-page .btn-addcard {
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 20px;
    width: 100%;
    background-color: cadetblue;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}


@media only screen and (min-width: 601px) {
  .form-page {
    width: 414px;
    padding: 50px;
    background-color: #949ee5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-page h1 {
    font-size: 55px;
    text-align: center;
  }

  .form-page .input,
  .form-page select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-page .btn-addcard {
    font-size: 20px;
    padding: 15px 32px;
    margin-top: 3rem;
    width: 100%;
    background-color: #b289d1;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .form-page .btn-addcard:hover{
    background-color:#cb72b0 ;
  }

  .active-card-container{
    padding-bottom: 11rem;
  }

  .card {
    margin-bottom: 20px;
    border-radius: 10px; 
    overflow: hidden; 
    height: 250px;
    perspective: 1000px;
    transition: transform 0.6s;

    .flipped{
      transform: rotateY(180deg);
    }
  }
  
  &.card-header {
    padding: 10px;
  }
  
  &.card-body {
    padding: 10px;
  }
 
}
